---
import Layout from "@/layouts/Layout.astro";
import Landing from "@/components/Landing.astro";
import Sales from "@/components/Sales.astro";
import NewIn from "@/components/NewIn.astro";
import SeasonalFavs from "@/components/SeasonalFavs.astro";
---

<Layout title="Pull and bear better">
  <main
    class="overflow-y-auto overflow-x-hidden snap-y snap-mandatory relative w-full h-screen"
  >
    <div class="snap-center">
      <NewIn />
    </div>
    <div class="snap-center">
      <SeasonalFavs />
    </div>
    <div class="snap-center">
      <Sales />
    </div>
    <div class="snap-center">
      <Landing />
    </div>
    <div class="snap-center">
      <Landing />
    </div>
    <div class="snap-center">
      <Landing />
    </div>
  </main>
</Layout>
