---
import { ClotheCard } from "./ClotheCard";
---

<article class="w-screen h-screen flex flex-col items-center relative top-16">
  <h1 class="text-xl font-semibold">SEASONAL FAVS</h1>
  <section class="px-8 flex gap-4 mt-5" id="cards-container">
    <ClotheCard img={"src/img/camisa_5.webp"} alt={"Image of t-shirt"} href="#"
      >T-shirt</ClotheCard
    >
    <ClotheCard img={"src/img/cazadora.webp"} alt={"Image of Blazer"} href="#"
      >Blazer</ClotheCard
    >
    <ClotheCard img={"src/img/pantalon_19.webp"} alt={"Image of jean"} href="#"
      >Jeans</ClotheCard
    >
    <ClotheCard img={"src/img/sudadera_6.webp"} alt={"Image of hoddie"} href="#"
      >Hodies</ClotheCard
    >
  </section>
</article>
